body{
    background-color: #252525;
}
h1{
    color: rgb(88, 88, 88);
}
p{
    color: rgb(0, 0, 0);
    font-size: 20px
}
h2{
    color: white;
    position: flex;
    width: 75%;
    height: 100%;
    text-align: center;
    font-size: 17px;
/*    padding: 0px 50px; */
    text-decoration: none;
    margin-left: 200px;
}
.img-background{
    opacity: .05;
    z-index:0;
    position:absolute;
    margin-top: 0px;
    height: 100%;
    width: 100%;
}
.home-background{
    opacity: 0.2;
    position:absolute;
    margin-top: 0px;
    height: 85%;
    width: 99.1%;
}

/* Contact page styling */
.contact-page{
    background-position: 0 1000px;
    font-family: 'Roboto', sans-serif;
}
.container-contact-page{
    max-width:1100px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 1rem;
    text-align:center;
}

h4{
    color:#398f51;
    font-size:5rem;
    font-weight:700;
    letter-spacing: 8px;
    margin-bottom:-5rem; 
    margin-top:1rem;
}
h5{
    color:#777;
    font-size: 4rem;
    font-weight: 400;
}

.image{
    margin-top: 0rem;
    margin-bottom: 0rem;
    border-radius: 50%;
}
.contact-p{
    font-size: 2rem;
    color: #fff;
    line-height: 5rem;
    margin-bottom: 5rem;
}
.btn{
    display: inline-block;
    padding: 2rem 6rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 10px;
    transition: background 0.5s;
    margin-bottom: 3rem;
    margin-top: -3rem;
    box-shadow:#131313;
}

.btn:hover{
    color: rgb(59, 146, 84);
    background-color: rgb(92, 92, 92);
}

/* top navigation bar styling */
.topnav {
    font-family: 'Courier New', monospace;
    background-color: #333;
    overflow: hidden;
    box-shadow: 2px 2px 4px #131313;
    text-shadow:
    -1px -1px 0 #131313,
    1px -1px 0 #131313,
    -1px 1px 0 #131313,
    1px 1px 0 #131313;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom:-1px;
    border:#000;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-shadow:none;
    font-weight: bold;
    margin-top:10px;
    margin-left: 10px;
    margin-right:2px;

    border-radius: 40px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}
  
  /* Add an active class to highlight the current page */
.topnav a.active {
    border-bottom: 2px solid rgb(255, 255, 255);
}
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/*socials page list styling */
.socials-body {
    background: #252525;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

.profile-picture {
    border-radius: 50%;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100px;
}
.profile-name {
    text-align: center;
    padding: 30px;
}
.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}
.socials-body a {
    text-decoration: none;
    color: white;
    transition: color 1s;
    transition: all .2s ease-in-out; 
}
.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}
.socials-body a:hover {
    color: #000;
    background: #fff;
    transform: scale(1.1);
}

/*home page card styling*/
.cardContainer{
    display:flex;
    margin:0;
    padding:0;
    min-height: 100vh;
    background: #201D1F;
    justify-content: center;
    align-items: center;
    font-family: arial;
  }
.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-evenly; /*changes positioning of the card on the page*/
    flex-wrap:wrap; 
}
.container .card{
    position: relative;
}
.container .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
  }
.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px rgb(73, 73, 73),
      inset -20px 0 80px rgb(207, 207, 207),
      inset 20px 0 300px rgb(73, 73, 73),
      inset -20px 0 300px rgb(207, 207, 207),
      0 0 50px #fff,
      -10px 0 80px rgb(73, 73, 73),
      10px 0 80px rgb(207, 207, 207); 
}
.container .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
  }
.container .card:hover .face.face1 .content{
    opacity: 1; 
}
.container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block; 
}
.container .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
}
.container .card .face.face1 .content a{
     transition: .5s;
}
.container .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
}
.container .card:hover .face.face2{
      transform: translateY(0);
}
.container .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
} 
.container .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}
.container .card .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}